.jumbotron {
  height: 100vh;
  background-color: $mainColor;
}

h1.display-4, p.lead {
  color: #ffffff;
}

.jumbo-hero {
  margin-top: 70px;
}

h1.display-4 {
  font-size: 48px !important;
  line-height: 48px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-weight: 900 !important;

}

p.lead {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #E8F0FD;
}

a.jumbo-btn, a.jumbo-btn:hover {
  font-family: "Lato", Helvetica, sans-serif;
  background-color: $secondColor !important;
  padding: 15px 50px;
  color: #ffffff;
  border-color: $secondColor;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 700;
}

.fa-angle-double-down {
  display: block;
  margin-top: 0px;
  font-size: 30px;
  color: #ffffff;
  margin-top: 135px;
}
