.jumbotron {
  height: 260px;
  padding-top: 30px;
  margin-bottom: 15px;
  background-image: linear-gradient(rgba(11, 9, 9, 0.75), rgba(11, 9, 9, 0.75)), url("close-up-code-codes-239898.jpg");
  background-size: cover;
  background-position: center;
}

h1.display-4, p.lead {
  color: #ffffff;
}


h1.display-4 {
  font-size: 48px !important;
  line-height: 48px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  font-weight: 700 !important;

}

p.lead {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #E8F0FD;
}

a.jumbo-btn, a.jumbo-btn:hover {
  font-family: system-ui, "Lato", Helvetica, sans-serif;
  background-color: $mainColor !important;
  padding: 15px 50px;
  color: #ffffff;
  border-color: $mainColor;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 700;
}
