<li class="list-group-item">
  <div class="row">
    <div class="col-md-2 img-block">
      <img src="https://placeimg.com/40/40/tech">
    </div>
    <div class="col-md-10">
      <h4 class="dev-name">Frederic Mbea</h4>
      <p>@fredmbea</p>
    </div>
  </div>
</li>
