<div class="featured-dev">
  <div class="card">
    <div class="title card-header">
      <h4>Featured Developers</h4>
    </div>
    <ul class="list-group list-group-flush">
      <% 20.times do |t| %>
        <%= render "pages/home/featured-dev/dev-card" %>
      <% end %>
    </ul>
  </div>
</div>
