<section class="header">
    <%= render "pages/home/jumbotron" %>
</section>

<section class="main">

  <div class="row">
    <div class="col-md-3">
      <%= render "pages/home/featured-dev/featured-dev" %>
    </div>

    <div class="col-md-9">
      <div class="question-list">
        <div class="row">
          <% 4.times do |t| %>
            <%= render "pages/home/question/question-card" %>
          <% end %>
        </div>
      </div>


      <div class="featured-products-bar">
        <div class="title">
          <h3><span class="new-badge">NEW</span>Featured Projects. <span> These are the various projects developers are working on. Check them out.</span></h3>
        </div>
      </div>

      <%= render "pages/home/project/project-list" %>

      </div>
    </div>
  </div>
</section>

<section class="footer">

</section>
