<div class="jumbotron jumbotron-fluid">
  <div class="container center jumbo-hero">
    <h1 class="display-4">Create Beautiful Infographics</h1>
    <p class="lead"><strong>Engage</strong> with fellow ruby on rails developers.</p>
    <%= link_to 'JOIN THE COMMUNITY!', new_user_registration_path, class: "btn btn-primay jumbo-btn" %>
  </div>
</div>
