<div class="Projects-list">
  <div class="row">
    <% 24.times do |t| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-image">
            <img class="card-img-top" src="/assets/project-image2.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
