h4 {
  font-family: 'Lato', Helvetica, sans-serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  color: #21425E;

}

h6 {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #6B7C92;
}
