
.navbar {
  padding: 10px 0px;;
  background-color: #EFEFEF;
}


ul.navbar-nav {
  margin-left: 80px;
}

a.navbar-brand {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    color: #000000 !important;
    margin-right: 80px;
    margin-bottom: 0px;
}

a.nav-link {
  color: #272727 !important;
  font-size: 12.8px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 400;
  padding: 15px 0px;
}

a.nav-link:hover {
  color: #455AFB !important;
}


a.login {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  color: #959595;
  font-size: 12.8px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 400;
}


a.signup, a.signup:hover, a.signup:active, a.signup:visited, a.signup:focus, a.login:hover {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 5px;
  background-color: $mainColor;
  border-color: $mainColor;
}

a.logout {
  color: #795CEC;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 15px;
  font-weight: 700;
  padding: 10px 20px;
  margin-left: 5px;
  background-color: #ffffff;
  border-color: $secondColor;
}

a.logout:hover {
  background-color: $mainColor;
  color: #ffffff;
  border-color: $mainColor;
}

li.nav-item {
  margin: 0px 15px;
}

.profile-link img {
  border-radius: 50%;
  margin-left: 20px;
}
