.center {
  text-align: center;
}

.signup-form-block {
  padding: 20px 25px 10px 25px;
  border: 2px solid #D7DBE2;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 1%;
  background-color: #fff;
}

.signup-page {
  background-color: #F7F8FA;
}

.signup-heading {
  margin-top: 30px;
}

label {
  font-family: 'Lato', Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #21425E;
}
